* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color: #121214;
  background-image: url(../img/bg.svg);
  background-position-y: center;
  background-position-y: 57.6%;
}

#app {
  width: fit-content;
  margin: 52px auto;
}

header {
  margin-bottom: 63px;
}

.card {
  border: 1px solid red;
  padding: 32px 23px;
  text-align: center;
}